@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="card text-center card-decor">            
            <h5 class="card-header">Welcome!</h5>
            <div class="card-body">
                <h5 class="card-title"> Random your menu for today </h5>
                <p class="card-text"> Don't know what to eat for today? let's random it! </p>
                <img src="~/images/smile_face.svg" alt="smile face" class="image-size mt-3 mb-3"> <br />
                <a href="/Foods/RandomFood/" class="btn btn-primary button-color"> Random Now </a>
            </div>           
        </div>

        <div class="card text-center card-decor mx-5">            
            <h5 class="card-header">Know your BMR</h5>
            <div class="card-body">
                <h5 class="card-title"> How to eat? </h5>
                <p class="card-text"> Don't know what to eat for today? let's random it! </p>
                <img src="~/images/smile_face.svg" alt="smile face" class="image-size mt-3 mb-3"> <br />
                <a href="/Foods/BMRForm/" class="btn btn-primary button-color"> Calculated </a>
            </div>           
        </div>
    </div>
</div>